@page "/"

<PageTitle>Home</PageTitle>

<h1 class="text-center text-primary">Chào mừng đến với ứng dụng Wallet</h1>
<h2 class="text-center text-warning">Vui lòng chọn menu My Wallet để sử dụng ứng dụng</h2>
