/* _content/MyWallet/Pages/MyWallet/TransactionHistory.razor.rz.scp.css */
.bg-deposit[b-bp1dycszmt] {
    background-color: #d0e6dc;
    border: 1px solid #a5c8b9;
}
.bg-withdraw[b-bp1dycszmt] {
    background-color: #f7d7d9;
    border: 1px solid #f2bcc1;
}


